body{
	width:800px;
	margin:0 auto;
	article.d1{
		width: 800px;
		background-color: rgb(208,201,201);
		padding: 20px;
		margin: 20px;
		border:solid 2px black;
		header.h1{
			text-align: center;
			i.re{
				color:red;
			}
			p.a1{
				display: inline-block;
				padding:10px;
			}
			i.b1{
				color: blue;
			}
		}
		img.e1{
			width: 500px;
			height: 200px;
			margin-right: 30px;
			float: left;
		}
		div{
			background-color:black;
			width: 750px;
			height: 40px;
			margin: 0px auto;
			border: 5px dashed red;
			q{
				color: white;
				margin:10px;
			}
		}
		footer{
			padding:10px;
		}

	}
	article.d2{
		width: 800px;
		background-color: rgb(208,201,201);
		padding: 20px;
		margin: 20px;
		border:solid 2px black;
		header.h2{
			margin-left: 10px;
			i.rem{
				color: rgb(150,200,255);
			}
			p.f1{
				display: inline-block;
				padding:5px;
				color: rgb(150,200,255);
			}
			i.g1{
				color: rgb(150,200,255);
			}
		}
		img.e2{
			width: 500px;
			height: 200px;
			margin-right: 30px;
			float: right;
		}
		div{
			background-color:black;
			width: 750px;
			height: 40px;
			margin: 0px auto;
			border: 5px dashed red;
			q{
				color:white;
				margin: 10px;
			}
		}
		footer.i1{
			padding:10px;
			text-align: center;
		}

	}
	article.d3{
		width: 800px;
		padding: 20px;
		margin:20px;
		border: solid 2px black;
		header{
			margin-left: 10px;
			i.gem{
				color:rgb(121,135,138);
			}
			p.f2{
				display: inline-block;
				padding:5px;
				color:rgb(121,135,138);
			}
			i.g2{
				color:rgb(121,135,138);
			}
		}
		img{
			width: 500px;
			height: 200px;
			margin-right: 30px;
		}
		div{
			background-color:black;
			width: 750px;
			height: 40px;
			margin: 0px auto;
			border: 5px dashed red;
			q{
				color:white;
				margin: 10px;
			}
		}
		footer{
			padding:10px;
		}	

	}
}